.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-size: cover;
}

canvas{
    border-radius: 10px;
    border-style: groove;
    box-shadow: 10px 10px 10px rgb(200, 95, 95);
}